<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--set conncetion string here-->
	<connectionStrings>
		<add name="ludoDb"
			 connectionString= "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\rasmu\source\repos\Ludo\LudoServer\Database\ludo.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>